* {
    background-color: whitesmoke;
    font-family: sans-serif;

}

body {

    font-family: cursive;
    color: seagreen;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 50px;
}

li {
    font-weight: 900;
    font-size: 18px;

}

h2 {

    background-color: blue;
    color: white;

}

.ejemplo {
    background-color: blue;
    color: green;
    color: white;
}

#herencia {
    color: black;
    font-family: cursive;
    font-size: 20px;
}